<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965567493761-bqvvqmsvvolmh3sqccoap64m76kt15hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965567493761-bqvvqmsvvolmh3sqccoap64m76kt15hg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>965567493761-rjufci73kqqlcrt5ekcqlkggfh05em1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrazrTLTxugaAwC64FWEPFPkLPFUPRnV0</string>
	<key>GCM_SENDER_ID</key>
	<string>965567493761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lonewolfinteractive.hackernews.hackernews</string>
	<key>PROJECT_ID</key>
	<string>swiggy-6de6a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiggy-6de6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965567493761:ios:a299b94db48883405abf80</string>
</dict>
</plist>